# vim: set filetype=sshconfig :

Host ubuntu1
    HostName ubuntu1.farzat.xyz
    User farzat
    ForwardAgent yes
    IdentitiesOnly yes
    IdentityFile ${XDG_DATA_HOME}/ssh_pub_keys/ubuntu1.pub

Host arch1_g1
    User gitolite
Host arch1 arch1_*
    HostName arch1.farzat.xyz
    User farzat
    ForwardAgent yes
    IdentitiesOnly yes
    IdentityFile ${XDG_DATA_HOME}/ssh_pub_keys/arch1.pub
