# vim: set filetype=sshconfig :

# This is a useful option when the OS(host) changes temporarily.
    # UserKnownHostsFile /dev/null

Host pavilion1local
    HostName 192.168.8.114
    User farzat
    RemoteForward ${HOME}/.clipper.sock ${HOME}/.clipper.sock
    ForwardAgent yes
    IdentitiesOnly yes
    IdentityFile ${XDG_DATA_HOME}/ssh_pub_keys/farzat-pavilion1.pub

Host matebook1local
    HostName 192.168.8.172
    User farzat
    RemoteForward /home/farzat/.clipper.sock ${HOME}/.clipper.sock
    ForwardAgent yes
    IdentitiesOnly yes
    IdentityFile ~/.dotfiles/ssh/pub_keys/farzat-matebook1.pub

Host spectre1local
    HostName 192.168.8.181
    User farzat
    RemoteForward /home/farzat/.clipper.sock ${HOME}/.clipper.sock
    ForwardAgent yes
    IdentitiesOnly yes
    IdentityFile ~/.dotfiles/ssh/pub_keys/farzat-spectre1.pub

Host iiyama1local
    HostName 192.168.8.111
    User farzat
    RemoteForward /home/farzat/.clipper.sock ${HOME}/.clipper.sock
    ForwardAgent yes
    IdentitiesOnly yes
    IdentityFile ~/.dotfiles/ssh/pub_keys/farzat-iiyama1.pub

Host asus1local
    HostName 192.168.8.112
    User farzat
    RemoteForward /home/farzat/.clipper.sock ${HOME}/.clipper.sock
    ForwardAgent yes
    IdentitiesOnly yes
    IdentityFile ~/.dotfiles/ssh/pub_keys/farzat-asus1.pub
