#pattern  filter=crypt diff=crypt merge=crypt
.abook/* filter=crypt diff=crypt merge=crypt
.local/share/ssh_pub_keys/* filter=crypt diff=crypt merge=crypt
.config/keepassxc/* filter=crypt diff=crypt merge=crypt
.config/weechat/sec.conf filter=crypt diff=crypt merge=crypt
.config/isyncrc##t filter=crypt diff=crypt merge=crypt
.config/msmtp/config filter=crypt diff=crypt merge=crypt
bin/scripts/getpass filter=crypt diff=crypt merge=crypt
bin/dmenu/type_pass filter=crypt diff=crypt merge=crypt
bin/external/ff2mpv.py filter=crypt diff=crypt merge=crypt
